 body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
    color: #333;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.letra {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  border: 2px solid #999;
  background-color: white;
  text-transform: uppercase;
}

.correcta {
  background-color: #6aaa64; /* verde */
  color: white;
}

.presente {
  background-color: #c9b458; /* amarillo */
  color: white;
}

.incorrecta {
  background-color: #787c7e; /* gris */
  color: white;
}

.mensaje {
    margin-top: 15px;
    font-weight: bold;
}

.teclado{
    margin-top: 20px;
}

.tecla{
    margin: 3px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: default;
  font-weight: bold;
}

.entrada-conteiner{
    margin-top: 20px;
}